<div id="covid">
    <h1>covid-19</h1>
    <p>Our breakfast and after school clubs are currently closed.  <br></p>
    <p>Since March 2020, we have been working closely with staff, schools, parents, considering the requirements and guidelines open to us, and we plan to re-open the clubs from September 2020.</p>
</div> 