<footer>
    <%- include("covid.ejs") %>
    
    <div id="footer">
        <p>Registered Address: The Oaks Childcare Clubs Community Interest Company, Unit 2a, Bramley House, Butlers Land Farm, Mortimer, RG7 2AG</p>
        <p>Company Limited By Guarantee registered in England and Wales: No 9816358<br>
        &copy 2020 The Oaks Childcare Clubs CIC<br>Site Designed by <a href="https://github.com/kiran-isaac" target="_blank">Kiran Sturt</a></p>
        </p>
    </div>
    
</footer>

<script src="<%= locals.root ? root : "" %>menu.js"></script>