<head>
    <meta charset="UTF-8">
    <meta name="description" content="The website for The Oaks Childcare Club of Mortimer and Burgfield">
    <meta name="author" content="Kiran Sturt | GIT kiran-isaac">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>The Oaks Childcare Club | Home</title>
    <link rel="stylesheet" href="<%= locals.root ? root : "" %>styles/style.css">
</head>