<header>
    <a href="/" id="clubname">The Oaks Childcare</a>
    <nav>
        <div id="right-menu">
            <img id="menu-button" src="menu.png">
            <ul id="links">
                <li><a href="/">Home ></a></li>
                <li><a href="/about">About Us ></a></li>
                <li><a href="/clubs">Our Clubs ></a></li>
                <li><a href="/join">Work With Us ></a></li>
                <li><a href="/register">Register ></a></li>
                <li><a href="/contact">Contact Us ></a></li>
            </ul>
        </div>
    </nav>
</header>