<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    
    <body>
        <%- include('partials/header.ejs', {pages : pages, current : "/about"}) %>

        <article>
            <h1>About Us</h1>
            <p>Being a CIC means that we have protected our non-profit status and our commitment to serving and supporting the local 
                community.  We are committed to providing a fun, healthy and safe environment for children to play and be cared for 
                by our expert staff<br>
                <br><strong>Working with your Child</strong><br>
                            We want your child to feel safe and happy at the Oaks and our staff are very experienced at working with children of all ages. We aim to make their time at the club as relaxing and fun as possible and will spend time getting to know them and what they enjoy doing. The clubs are well stocked with games, toys and play equipment and children have a say in how clubs are run.
                            <br><br><strong>Working with the Community</strong><br>
                            We employ local staff, invest substantially in training and development and regularly host student volunteers for their Duke of Edinburgh awards. We take care to invest in the development of the clubs and our staff and each year we donate any surplus to the charitable organisations within the schools.
                            <br><br><strong>Working with Parents</strong><br>
                            We have a very close relationships with parents who can leave their children with us knowing they are safe, happy and well cared for. We invite parent representation from each school and welcome all feedback and ideas on how the clubs can be improved. Our Playleaders and General Manager are always available to talk about any aspects of your child’s care.
                            <br><br><strong>Working with Ofsted</strong><br>
                            Our clubs are registered with Ofsted and are on the Early Years Register. We are inspected by Ofsted and reports of our inspections are available online.
                            <br><br><strong>Working to Improve</strong><br>
                            The Oaks was founded by working parents whose children attended local schools and the Oaks clubs, so they understand how important it is to find good, local childcare. The Oaks is led by a team of Directors who are focused on top quality childcare provided by highly qualified and highly caring staff. They are always available to talk to anyone who would like to know more about The Oaks.

            </p>
        </article>
        
        <%- include('partials/footer.ejs') %>
    </body>
</html>