<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs', {pages : pages, current : "/clubs"}) %>
        <article>
            <%- include('partials/aside.ejs') %>
            <section id="body">
                <h1>Our clubs</h1>

                <div style="margin-top: 30px">
                    <p>Each club has a different ‘character’ depending on the ages of the children, the physical environment and the club’s leadership
                        team.  Children are able to choose from a wide range of activities, e.g. indoor, outdoor, physical, creative, individual,
                        group, structured, messy, traditional.  Activities to choose from are changed frequently, usually daily, and are in step with
                        the daily/weekly/termly rhythms of the school and the weather conditions.  We encourage children to make up their own games
                        and rules, and to use objects and the environment creatively.  <br><br>Club staff are generally facilitators and observers who will
                        step in when needed.  Within all clubs, a warm and homely atmosphere is created wherever possible, with comfortable seating,
                        such as sofas and floor mats/cushions.  We create an environment of support for children with a range of needs. We oversee
                        outdoor play in all but the most extreme of weather conditions and our staff have a positive attitude to physical activity
                        and the outdoor environment.  We do not oversee or encourage homework to be done at the club, however, there is always a space
                        that can be used by a child who wishes to do so. </p>
                </div>

                <div id="list">
                    <ul>
                        <li>
                            <h3>> Child led play: </h3>
                            <p>Play is one of the most important aspects of a child's life. Through play, they learn about the world, about others and
                                about themselves. At the Oaks our emphasis is on play, led by the children themselves. Your child is free to choose
                                their own preferred activity; whether they'd like to run around outside, draw with friends or chill out quietly with
                                a book, our staff support children to relax and have fun, whatever their needs or interests. </p>
                        </li>
                        <li>
                            <h3>> Familiar location: </h3>
                            <p>Our breakfast and after school clubs are held on or very near your child’s school. This helps your child relax in
                                familiar surroundings before and after a full school day.  We facilitate and oversee outside play in all but the
                                most extreme of weather conditions.  Our staff have a positive attitude to the outdoor environment and physical activity. </p>
                        </li>
                        <li>
                            <h3>> Expert staff: </h3>
                            <p>Our staff are carefully selected to bring a wide range of skills and experience to each club. Across the clubs,
                                our highly qualified teams have many years of combined professional childcare experience, and all engage in ongoing
                                training and development. We undertake full reference checks and enhanced DBS checks for all staff prior to employment.</p>
                        </li>
                        <li>
                            <h3>> Healthy food: </h3>
                            <p>Breakfasts and snacks after school are healthy and varied. We can accommodate any dietary requirements or preferences. </p>
                        </li>
                        <li>
                            <h3>> Special Needs and Inclusion: </h3>
                            <p>We aim to support all of the children and parents/carers in the communities we live, and work in, including the
                                children who have special educational needs and/or physical disabilities. Our aim is to operate such that children
                                of all abilities can be included, be kept safe, and enjoy and learn from our activities.</p>
                        </li>
                        <li>
                            <h3>> Safeguarding: </h3>
                            <p>We take our responsibility for protecting children in our care very seriously.  We have a designated Safeguarding Leads
                                and a Child Protection Officer and will respond promptly and appropriately to all incidents or concerns regarding
                                the safety of a child.</p>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Breakfast clubs:</h2>

                    <p>Our clubs provide a wide range of breakfast choices including fresh fruit, milk, cereal, yoghurt and water to set children up for the day ahead. After some time to play, children head to their classrooms ready to start the school day. </p>
                    <p><strong>Early Little Oaks</strong> provides a Breakfast Club at The Community Centre (Mortimer) for St John’s children. It runs from 7.30 am and provides a healthy breakfast as well as free play time before ensuring that the children are safely within their classrooms.</p>
                    <p><strong>Early Big Oaks</strong> provides a Breakfast Club at Mortimer St Mary’s School within The Oaks building for all St Mary’s children. It runs from 7.30am and provides a healthy breakfast as well as free playtime before the children walk across the field to the school playground to be collected for registration.</p>
                    <p><strong>Early Burghfield Oaks</strong> provides a Breakfast Club in the Main Hall at Burghfield St Mary’s.  It runs from 7.30am and provides a healthy breakfast as well as playtime before the children join the early drop off or head to the school playground.</p>
                </div>

                <div>
                    <h2>After school clubs: </h2>

                    <p>All clubs start at the end of the school day and are held on school premises:</p>
                    <p><strong>Mortimer St John's until 6.00pm<br>Burgfield St Mary's untill 6.00pm<br>Mortimer St Mary's, The Big Oaks Building,
                        untill 6.30pm</strong><br></p>

                    <p>After school, children can come straight to the club, or attend one of the school-led clubs and then join the after school
                        club. Just let the school know and they will ensure your child arrives safely. Once at the club, children lead the way.
                        Typical activities include outdoor play, ball games, dressing up, board games, drawing, crafts, putting on shows as well
                        as summer and christmas parties. A wide range of healthy, tasty food is on offer during snack time. Often the biggest
                        complaint we get from parents is that the child wont come home because they're having too much fun!</p>
                </div>

                <div>
                    <h2>What the children say: </h2>
                    <p>Our priority is that the children enjoy themselves and feel they belong, whether they’re with us every day or just once in a
                        while. Here’s what they say about their clubs : <br></p>
                    <img id="whatthechildrensay" src="whatthechildrensay.png">
                </div>
            </section>

        </article>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
