<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    
    <body>
        <%- include('partials/header.ejs', {pages : pages, current : "/join"}) %>

        <article>
            <%- include('partials/aside.ejs') %>

            <section id="body">
                <h1>Work with us</h1>
                <p>We are keen to hear from you if you love working with children and enjoy being part of a committed team.  In return, 
                    we provide a very competitive salary, excellent training opportunities and future career development.<br><br>
                    Within the clubs, various term-time and flexible roles are available within breakfast club (7.15am-9.00am) or after 
                    school clubs (3.00-6.30pm) and anything between 3 and 18 hours per week are available.<br><br>
                    If you have qualifications in Playwork, we would be interested in considering you for a Deputy Playleader or Playleader 
                    roles.  We do provide training for NVQ levels 2 and 3 in Playwork.<br><br>
                    For an informal chat and/or to receive an application form, please <a href="contact.html">contact us</a>.<br><br>
                    A copy of our Job Applicant Privacy Notice is available on request
                    </p>
            </section>

        </article>
    
        <%- include('partials/footer.ejs') %>
    </body>
</html>