<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    
    <body>
        <%- include('partials/header.ejs', {pages : pages, current : "/staff"}) %>
        <article>
            <%- include('partials/aside.ejs') %>

            <section id="body">
                <h1>Log In</h1>
                <p>Log in to access staff only content</p>
                <form action="/login" method="post">
                    <input type="text" name="password" placeholder="Password">
                    <input type="submit">
                </form>
            </section>

        </article>
    </body>

    <%- include('partials/footer.ejs') %>
</html>