<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    
    <body>
        <%- include('partials/header.ejs', {pages : pages, current : "/register"}) %>

        <article>
            <section id="body">
                <h1>Register</h1>
                <p>If your child attends Mortimer St John’s, Mortimer St Mary’s, Burghfield St Mary’s, or Silchester 
                    C of E Primary, you can register at any time for a place 
                    within our clubs. You can either register for regular sessions, or for one-off sessions as 
                    and when these are available.  While 
                    our clubs are busy, we do have some availability and operate a waiting list where necessary. 
                    It is always worth discussing 
                    with us what you need, and we will offer you a place or keep you on the waiting list for places as they become available.
                    <br>We aim to send out registration forms to new school joiners in around June for a September start.
                    <br><br>The Oaks Registration Pack is available to download 
                    <a href="DIGITAL The Oaks Registration Pack May 2020.pdf" target="_blank">here</a>.</p>
            </section>

            <div id="logoContainer">
                <img id="logo" src="logo.png">
            </div>
        </article>

        <%- include('partials/footer.ejs') %>
    </body>
</html>