<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    
    <body>
        <%- include('partials/header.ejs', {pages : pages, current : "/register"}) %>

        <article>
            <%- include('partials/aside.ejs') %>

            <section id="body">
                <h1>Register</h1>
                <p>If your child attends Mortimer St Mary’s, Mortimer St John’s or Burghfield St Mary’s, you can register at any time for a place 
                    within our clubs.  You can either register for regular sessions, or for one-off sessions as and when these are available.  While 
                    our clubs are busy, we do have some availability and operate a waiting list where necessary.  It is always working discussing 
                    with us what you need, and we will offer you a place or keep you on the waiting list for places as they become available.
                    <br>We aim to send out registration forms to new school joiners in around June for a September start.
                    <br><br>The Oaks Registration Pack is available to download 
                    <a href="assets/DIGITAL The Oaks Registration Pack May 2020.pdf" target="_blank">here</a>.</p>
            </section>

        </article>

        <%- include('partials/footer.ejs') %>
    </body>
</html>