@import "./breakpoint.scss";

@include media("<=tablet") {
    img#whatthechildrensay {
        width: 100%;
    }
}

@include media("<=600px") {
    aside {
        width: 100%;
    }

    aside img {
        width: 100%;
    }

    section#body {
        text-align: center;
        margin-left: 0px;
    }

    header a#clubname {
        font-size: 30px;
    }

    footer {
        height: 170px;
    }
}

@include media("<=phone") {
    header a#clubname {
        font-size: 20px;
    }

    #body h1 {
        font-size: 40px;
    }

    header nav ul li a {
        line-height: 60px;
    }
}