@font-face {
    font-family: kristen;
    src: url("../KRISTEN\ ITC.ttf");
}

@font-face {
    font-family: dosis;
    src: url("../DOSIS.ttf");
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: dosis;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%
}

/*header*/
header {
    background-image:  url(../header.png);
    font-family: kristen;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #218C3C;
    position: fixed;
    z-index: 2;
    a#clubname {
        text-decoration: none;
        width: 340px;
        margin-left: 10px;
        font-size: 40px;
        line-height: 80px;
        color: rgb(96, 3, 139);
    }
    nav {
        img {
            position: absolute;
            top: 19px;
            right: 10px;
            height: 36px;
            border: 3px solid rgb(78, 78, 78);
            border-radius: 15px;

            &:hover {
                cursor: pointer;
            }
        }

        ul {
            z-index: 1;
            position: fixed;
            top: 81px;
            list-style-type: none;
            text-align: right;
            right: -286px;
            background-color: rgba(33, 140, 60, 0.8);
            margin: 0px;
            width: 245px;
            transition: right .5s;
            height: 100%;
            border-left: 1px solid black;

            li {
                a {
                    text-decoration: none;
                    color: white;
                    margin-right: 10px;
                    font-size: 30px;
                    line-height: 70px;
                    font-weight: 700;
                }

                a#current {
                    font-weight: lighter;
                    color: rgb(96, 3, 139);
                }
            }
        }
    }
}

/*body*/
article {
    margin-left: 10px;
    width: 70%;
    margin: 0px auto;
    padding-top: 81px;
    overflow-x: hidden;
    padding-bottom: 180px;

    h1 {
        font-size: 50px;
        margin: 0;
        padding: 20px 0px;
        font-weight: 300;
        text-align: center;
    }

    p {
        font-family: dosis;
        font-size: 20px;
        padding-right: 10px;
    }

    div h2 {
        padding-top: 20px;
        font-size: 34px;
        margin: 0;
    }

    form {
        input#password {
            width: 99.5%;
            height: 40px;
        }

        input#submit {
            width: 100%;
            margin: 5px 0px;
            height: 40px;
        }
    }

    /*What we do list*/
    div#list ul {
        list-style-type: none;
        padding: 0;
    
        li h3 {
            padding-top: 10px;
        }
    }
}

img#whatthechildrensay {
    width: 100%;
}


/*footer*/
footer {
    padding: 6px;
    height: 150px;
    width: calc(100% - 12px);
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #218C3C;

    p {
        margin: 0;
        font-size: larger;
        color: #ccc;
    }
}

@import "./mobile.scss" 