<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs', {root : "../"}) %>
    
    <body>
        <%- include('../partials/header.ejs', {pages : pages, current : "/staff", root : "../"}) %>
        <article>
            <%- include('../partials/aside.ejs', {root : "../"}) %>

            <section id="body">
                <h1>Policies</h1>
            </section>

        </article>
    </body>

    <%- include('../partials/footer.ejs', {root : "../"}) %>
</html>