<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs', {root : "../"}) %>
    
    <body>
        <%- include('../partials/header.ejs', {pages : pages, current : "/staff", root : "../"}) %>
        <article>
            <section id="body">
                <h1>Staff Home</h1>
                <p>Staff only content landing page</p>
            </section>

        </article>
    </body>

    <%- include('../partials/footer.ejs', {root : "../"}) %>
</html>