<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs', {root : "../"}) %>
    
    <body>
        <%- include('../partials/header.ejs', {pages : pages, current : "/staff", root : "../"}) %>
        <article>
            <%- include('../partials/aside.ejs', {root : "../"}) %>

            <section id="body">
                <h1>Staff</h1>
                <p>Any staff only content can go here</p>
            </section>

        </article>
    </body>

    <%- include('../partials/footer.ejs', {root : "../"}) %>
</html>